@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .heroButton {
    @apply rounded-full border border-[#242424] px-6 py-2 text-xs uppercase tracking-widest text-gray-500 transition-all hover:border-[#2DD4BF]/40 hover:text-[#2DD4BF]/40;
  }
  .title {
    @apply absolute top-24 text-2xl uppercase tracking-[20px] text-gray-500;
  }
  .contactInput {
    @apply rounded-sm border-b border-[#242424] bg-slate-400/10 px-6 py-4 text-gray-500 placeholder-gray-500 outline-none transition-all
    hover:border-teal-500/40 focus:border-teal-500/40 focus:text-teal-500/40;
  }
}
/* you need to wrap the component */
.image-wrapper {
  box-sizing: content-box;
}
/* the magic happens here */
.image-wrapper > div {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}
